body {
  margin: 0;
  font-family: Agenda, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Agenda !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (max-width: 767px) {
  .ui.table:not(.unstackable) tr {
    padding-bottom: 3em !important;
  }
}

@media only screen and (max-width: 767px) {
  .ui.small.modal {
    width: 95% !important;
  }
}
